.register__form{
  text-align: center;
  padding: 20px;
}
.register__form__table{
  padding: 20px;
  display: inline-block;
}
.btn__class{

}
.btn__class__disbled{
  cursor: not-allowed;
  pointer-events: none;
}