.event__item{
  padding: 3px;
  margin: 5px;
  width: 300px;
  text-align: left;
  border-radius: 8px;
  display: flex;
}

.events__container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.event__item__button{
  margin-left: auto;
  border-radius: 5px;
  padding: 2px;
}

.event__item__checkbox{
  display: flex;
  margin: 5px;
  padding: 5px;
}
.event__item__time{
  padding-left: 5px;
  padding-right: 5px;
}
.checked-item,
.not-checked-item {
  margin-left: 10px;
}
.checked-item {
  text-decoration: line-through;
}